
.grid-wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 5em;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 4rem;
}