.showcase-wrapper {
    display: flex;
    justify-content: center;
}
.showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 4rem;
}

.header {
    margin-left: 80px;
}
.wallet-text {
    font-size: 30px;
}
.items-text {
    font-size: 18px;
    width: 80px;
    border-bottom: 1px solid black;
}